 /* * {
    background-image : "pokeball.png";
    width:100%;
    height:100%
} */
html{
    background-image : url("./Images/squarepokeball1.png");
    color : rgb(0, 0, 0)
}
.fit-content {
    width:15%;
    height:5%;
}
.fit-content1 {
    width:50%;
    height:50%;
}
.row{
    display : flex;
    flex-direction : row;
}
.p {
    display: block;
    border : 2px;
    border-color : rgb(0, 0, 0);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.type-normal {
    background-color : #aa9;
    size : 20px;
    text-align : center;
    color : white;
}
.type-water {
    background-color : #39f;
    size : 20px;
    text-align : center;
    color : white;
}
.type-fire {
    background-color : #f42;
    size : 20px;
    text-align : center;
    color : white;
}
.type-grass {
    background-color : #7c5;
    size : 20px;
    text-align : center;
    color : white;
}
.type-psychic {
    background-color : #f59;
    size : 20px;
    text-align : center;
    color : white;
}
.type-poison {
    background-color : #a59;
    size : 20px;
    text-align : center;
    color : white;
}
.type-rock {
    background-color : #ba6;
    size : 20px;
    text-align : center;
    color : white;
}
.type-fighting {
    background-color : #b54;
    size : 20px;
    text-align : center;
    color : white;
}
.type-electric {
    background-color : #fc3;
    size : 20px;
    text-align : center;
    color : white;
}
.type-ground {
    background-color : #db5;
    size : 20px;
    text-align : center;
    color : white;
}
.type-flying {
    background-color : #89f;
    size : 20px;
    text-align : center;
    color : white;
}
.type-bug {
    background-color : #ab2;
    size : 20px;
    text-align : center;
    color : white;
}
.type-ghost {
    background-color : #66b;
    size : 20px;
    text-align : center;
    color : white;
}
.type-ice {
    background-color : #6cf;
    size : 20px;
    text-align : center;
    color : white;
}
.type-dragon {
    background-color : #76e;
    size : 20px;
    text-align : center;
    color : white;
}
.pokemon-types {
    text-align : center;
    font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial sans-serif;
    font-weight: bold;
}
.center {
    text-align : center;
    font-weight : bold;
}
.font {
    font-size : 20px;
    font-weight : bold;
}